body {
    font-family: 'Inter', sans-serif;
}

.sidebar-icon {
    font-size: 1.5rem;
    /* Perbesar ukuran ikon di sidebar */
}

.sidebar-text {
    font-size: 1.2rem;
    /* Perbesar ukuran teks di sidebar */
}

/* Styling untuk blur overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
    /* Tersembunyi secara default */
    justify-content: center;
    align-items: center;
    z-index: 50;
    /* Pastikan overlay di atas konten */
}

/* Styling untuk notifikasi card */
.notification-card {
    z-index: 100;
    /* Pastikan card di atas overlay */
    background: white
}